.photoHome{
    width: 100%;
    border-radius: 5px;
}

.jumbohome {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 1rem;
    color: #fff;
    
}


.jumboimg{
    width: 80%;
}

.jumbotron{
    background-color: rgba(0,0,0,0)
}

.photobg {
    background-color: #666;
    border-radius: 5px;
}