<div class="jumbotron jumboGlass jumbohome">

  <div class="row align-items-center">
    <div class="col-sm-2"><img src="assets/images/virus.png" class="jumboimg"></div>
    <div class="jumbotron col-sm-8 row">
      <div class="col-sm-3">
        <img src="assets/images/640.png" class="photoHome" />
      </div>
      <div class="col-sm-9">
        <h2>Pedro "Nasaphreak" Rodrigues</h2>
        <p>
          Sou estudante de Engenharia de Computação, professor de física e Desenvolvedor web.
          Sou um entusiasta da Segurança da Informação, com uma queda pela Engenharia Social.
        </p>
      </div>

    </div>
    <div class="col-sm-2"></div>

  </div>
  <div class="row align-items-center">
      <div class="col-sm-2"></div>
      <div class="jumbotron jumbohome col-sm-8 row">
        <div class="col-sm-3 photobg">
          <img src="assets/images/transparentLogo.png" class="photoHome" />
        </div>
        <div class="col-sm-9">
          <h2>Venho te desejar Boas Vindas!!!</h2>
          <p>
            Sou Parallax, uma criação de Pedro "NasaPhreak" Rodrigues .
            Sou uma empresa especializada em desenvolvimento de sites e aplicações web.
            Também gerencio campanhas SEO para melhorar a colocação do seu Site no Google Search.
            Entre em contato <a routerLink="/contact">aqui</a> e vamos conversar sobre suas necessidades.
          </p>
        </div>
      </div>
      <div class="col-sm-2"></div>
  
    </div>
    <app-login></app-login>
</div>

