<div class="jumbotron jumboGlass">

  <div class="row align-items-center">
    <div class="col-sm-2"></div>
    <div class="jumbotron jumbocontact col-sm-8 row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-9">
        <h1>Entre em contato pelos canais abaixo!</h1><br>
        <h3>Whatsapp: </h3>
        <p>+55 11 94312-1337</p><br>
        <h3>Email para orçamentos: </h3>
        <p>parallaxtechsolutions@gmail.com</p><br>
        <h3>Email direto para Pedro Nasaphreak Rodrigues: </h3>
        <p>nasaphreak@gmail.com</p><br>
        <h2>Links das Redes Sociais: </h2>
        <h4>Instagram:</h4><a href="https://www.instagram.com/nasaphreak" class="linkhidden"
          target="_blank">@nasaphreak</a><br><br>
        <h4>Linkedin:</h4><a href="https://www.linkedin.com/in/pedro-henrique-rodrigues-382922125/" class="linkhidden"
          target="_blank">Pedro Henrique Rodrigues</a><br>
      </div>

    </div>
    <div class="col-sm-2">/div>

    </div>


  </div>