<div class="jumbotron jumbohome jumboGlass">
    <div class="row align-items-center">
        <div class="col-sm-2"></div>
        <div class="jumbotron jumboabout col-sm-8 row">
          <div class="col-sm-3">
            <img src="assets/images/angularLogo.png" class="photoHome" />
          </div>
          <div class="col-sm-9">
              <h2>Esse site é criado a partir de experimentos</h2>
              <p>
                Estou sempre estudando para aprender novas tecnologias.<br/>
                Este site está em desenvolvimento utilizando Angular 7.
              </p>
            </div>
        </div>
        <div class="col-sm-2"></div>
        
    </div>
    <div class="row align-items-center">
        <div class="col-sm-2"></div>
        <div class="jumbotron jumboabout col-sm-8 row">
          <div class="col-sm-9">
              <h3>Repetindo a apresentação pois acho importante!</h3>
              <h6>Pedro "Nasaphreak" Rodrigues</h6>
              <p>
                Estudante de Engenharia de Computação, professor de Física e Design Thinking com ênfase em Robótica e Desenvolvedor web.
                Sou um entusiasta da Segurança da Informação, com uma queda pela Engenharia Social.
              </p>
          </div>
          <div class="col-sm-3">
              <img src="assets/images/640.png" class="photoHome" />
            </div>
        </div>
        <div class="col-sm-2"></div>
        
    </div>
</div>